 <div class="row">
  
<div ng-controller="userController as ctrl">

 <form  ng-submit="ctrl.authenticate()"> 
 <div class="row">
    <div class="form-group  col-sm-offset-4 col-sm-4">
    
      <label for="usr">Name:</label>
      <input type="text" name="userID" class="form-control " ng-model="ctrl.user.id" required="true">
    </div>
    </div>
    <div class="row">
    <div class="form-group col-sm-offset-4 col-sm-4">
     
      <label for="pwd">Password:</label>
      <input type="password" name="Password" class="form-control" ng-model="ctrl.user.password" required="true">
    </div>
    </div>
   <input type="submit" class=" col-md-offset-5 col-sm-1 btn btn-success" value="LOGIN"/> 
  </form>
 <h3> {{message}}</h3>
   </div></div>
   
     </body>


