<div ng-controller="eventControl as ctrl" style="padding-top:50px;">
<form class="col-xs-offset-3 " ng-submit="ctrl.saveEvent()">
<h3 class="text-primary">Post Event</h3>
<h4 class="text-success">{{ctrl.event.errorMessage}}</h4>
<div class="row">
<div class="form-group col-xs-5">
<input type="text" class="form-control" ng-model="ctrl.event.eventTitle" placeholder="enter eventtitle">
</div>
</div>
<div class="row">
<div class="form-group col-xs-5">
<input type="date" class="form-control" ng-model="ctrl.event.date_time" placeholder="enter event date">
</div>
</div>
<div class="row">
<div class="form-group col-xs-5">
<textarea rows="8" class="form-control" ng-model="ctrl.event.eventDescription" placeholder="enter eventDescription">
</textarea>
</div>
</div>
<input type="submit" class="btn btn-info" value="post">
</form>
</div>
<style>
::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: white; }
::-webkit-datetime-edit-text { color: #3d4a4c; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #3d4a4c; }
::-webkit-datetime-edit-day-field { color: #3d4a4c; }
::-webkit-datetime-edit-year-field { color: #3d4a4c; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }
</style>


