<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<timestamp key="byday" datePattern="'dt-'yyyy'-'MM'-'dd'::'HH':'mm':'ss"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level- %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
<appender name="FILE" class="ch.qos.logback.core.FileAppender">
<file>/home/ubuntu/logs/collaborationlogs/log-${byday}.txt</file>
<append>true</append>
<encoder>
      <pattern>%-4relative [%thread] %-5level  %logger{36} - %msg%n</pattern>
    </encoder>
</appender>
  <root level="debug"> 
      <appender-ref ref="FILE" />
      <appender-ref ref="CONSOLE" />
  </root> 
</configuration>
