<div ng-controller="blogControl as ctrl" style="padding-top:50px;">
{{ctrl.blog.errorMessage}}
<form class="col-xs-offset-3 col-xs-5" ng-submit="ctrl.saveBlog()">
<h3 class="text-info">Create Blog</h3>
<div class="row">
<div class="form-group">
<input type="text" class="form-control" ng-model="ctrl.blog.title" placeholder="enter blogtitle">
</div>
</div>
<div class="row">
<div class="form-group">
<textarea rows="10" cols="20" class="form-control" ng-model="ctrl.blog.description" placeholder="enter blog description">
</textarea>
</div>
</div>
<div class="row">
<div class="form-group">
<input type="submit" class="btn btn-success" value="post">
</div>
</div>
</form>
</div>