<div ng-controller="blogControl as ctrl" ng-init="ctrl.getNewBlogs()" style="padding-top:50px;">
<h3 class="col-xs-offset-2 text-success">List Of Available Blogs</h3>
<hr>
<div ng-repeat="x in ctrl.newblogs" class="col-xs-offset-2">
<h4><span ng-show="x.errorCode=='404'" class="text-danger">
{{x.errorMessage}}
</span></h4>
<div ng-hide="x.errorCode=='404'">
<h4 > <span class="text-primary">Blog id: </span>{{x.id}}</h4>
<h4> <span class="text-primary">Blog Title: </span>{{x.title}}</h4>
<h4> <span class="text-primary">Blog Status: </span>{{x.status}}</h4>
<h4> <span class="text-primary">Posted on: </span>{{x.date_time}}</h4>
<h4> <span class="text-primary">Blog Description: </span>{{x.description}}</h4>
<button class="btn btn-success" ng-click="ctrl.acceptBlog(x.id)">Accept</button>
<button class="btn btn-danger" data-toggle="collapse" data-target="#{{x.id}}">Reject</button>
</div>
<form class="collapse" id="{{x.id}}" ng-submit="ctrl.rejectBlog(x.id)">
<br>
<h3 class="text-danger" >Reject Reason</h3>
<div class="row">
<div class="form-group">
<input type="text" name="nmae" placeholder="enter the reason" ng-model="ctrl.blog.reject_reason" class="col-xs-4" required class="form-control" maxlength="50">
</div>
</div>

<button class="btn btn-success" type="submit">Submit</button>
</form>



<hr ng-hide="x.errorCode=='404'">

</div>
</div>