<div ng-controller="friendControl as ctrl" style="padding-top:50px;" ng-init="ctrl.listofusers()">
<h3 class="text-primary col-xs-offset-2">Name of Users </h3>
<div class="row">
<div class="form-group col-xs-3">
<input type="text" ng-model="search" placeholder="search for friends" class="form-control">
</div></div>
<br>
<div ng-repeat="x in ctrl.users | filter : search" class="col-xs-offset-2" ng-hide="x.id==currentUser.id">
<p >{{x.id}} <img ng-show="x.is_online=='Y'" src="images/isonline.png" width="10px" height="10px"></p>
<button class="btn btn-primary" ng-click="ctrl.sendFriendRequest(x.id)" >send request</button>
<hr>
<br>
</div>

</div>